<script>
  export default class Timer extends HTMLElement {
    private intervalId: number = 0;

    connectedCallback() {
      const timerElement = this.querySelector("span")!;

      timerElement.textContent = new Date().toLocaleString();
      this.intervalId = window.setInterval(() => {
        timerElement.textContent = new Date().toLocaleString();
      }, 1000);
    }

    disconnectedCallback() {
      clearInterval(this.intervalId);
    }
  }

  customElements.define('astro-timer', Timer);
</script>

<astro-timer>
  <span>&nbsp;</span>
</astro-timer>
